Some instructions to note:
- This assignment contains three parts
    - numpy (15 questions) 
    - pandas (15 questions)
-
- write the code only in places indicated
- assign answers to the variables named as question numbers (otherwise assignment won't be evaluated)
- This assignment will be evaluated automatically, each question contains 1 mark
    - each question will be evaluated based on the value of the variable assigned to it
    - if the variable is not assigned, it will be considered as 0
    - if the variable is assigned to a wrong value, it will be considered as 0
    - if the variable is assigned to a correct value, it will be considered as 1

In [ ]:
# import libraries

### Numpy Basics (15 marks)

In [ ]:
# 1. Create a 1D array of numbers from 0 to 9

q1 = 

print(q1)

In [ ]:
# 2. Create a 3×3 numpy array of all True’s (~1 line)

q2 = 

print(q2)

In [ ]:
# 3. Given an array as input, print only odd numbers as output (~2 lines)

a = np.arange(10)
q3 = 

print(q3)

In [ ]:
# 4. Convert a 1D array to a 2D array with 2 rows (~1 line)

e = np.arange(10)
q4 = 

print(q4)

In [ ]:
# 5. How to stack two arrays vertically? (~1 line)

a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
q5 = 

print(q5)

In [ ]:
# 6. How to generate custom sequences in numpy without hardcoding? (~1 line)
# sequence: [1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

a = np.array([1,2,3])
q6 = 

print(q6)

In [ ]:
# 7. Get the common items between a and b (~1 line)

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
q7 =

print(q7)

In [ ]:
# 8. From array a remove all items present in array b (~1 line)

a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
q8 =

print(q8)

In [ ]:
# 9. Get all items between 5 and 10 from given array (~1 line)

a = np.array([2, 6, 1, 9, 10, 3, 27])
q9 =

print(q9)

In [ ]:
# 10. Convert the function maxx that works on two scalars, to work on two arrays. (~1 line)

def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y
    
maxx(1, 5)

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
q10 =

In [ ]:
# 11. Swap columns 1 and 2 in the array arr. (~1 line)

q11 = np.arange(9).reshape(3,3)
q11

print(q11)

In [ ]:
# 12. Swap rows 1 and 2 in the array arr (~1 line)

q12 = np.arange(9).reshape(3,3)
q12

print(q12)

In [ ]:
# 13. Reverse the rows of a 2D array arr (~1 line)

arr = np.arange(9).reshape(3,3)
q13 =

print(q13)

In [ ]:
# 14. Reverse the columns of a 2D array arr (~1 line)

arr = np.arange(9).reshape(3,3)
q14 =

print(q14)

In [ ]:
# 15. Limit the number of items printed in python numpy array a to a maximum of 6 elements. (~1 line)

q15 = np.arange(15)
# code here

print(q15)

### Pandas Basics (15 marks)

**Note:** Each question should use the original imported dataframe. 
**Do not modify the original dataframe.**

In [ ]:
# 1. Read dataframe from file 'data.csv', (no index) into a variable called q1 (~1 line)

q16 =

In [ ]:
# 2. Return the first 3 rows of the DataFrame df.

q17 =

In [ ]:
# 3. Select just the 'name' and 'age' columns from the DataFrame df. (~1 line)

q18 =

In [ ]:
# 4. Select the data in rows [3, 4, 8] and in columns ['name', 'age', 'number_of_pets']. (~1 line)

q19 =

In [ ]:
# 5. Select only the rows where the number of pets is greater than 3. (~1 line)

q20 =

In [ ]:
# 6. Select the rows where the age is missing, i.e. it is NaN. (~1 line)

q21 =

In [ ]:
# 7. Select the rows where the student name is not Dan or Alice. (~1 line)

q22 =

In [ ]:
# 8. Select the rows the age is between 30 and 50 (inclusive). (~1 line)

q23 =

In [ ]:
# 9. Find the total age of all students. (~1 line)

q24 =

In [ ]:
# 10. Calculate the mean age of all students. (~1 line)

q25 =

In [ ]:
# 11. Count the number of students. (~1 line)

q26 =

In [ ]:
# 12. Sort the DataFrame first by the values in the 'age' in decending order, then by the value in the 'name' column in ascending order. (~1 line)

q27 =

In [ ]:
# 13. Add a new column, 'course', that contains the value 'big data'. (~1 line)

q28 =

In [ ]:
# 14. Delete the 'number_of_pets' column from the DataFrame. (~1 line)

q29 =

In [ ]:
# 15. Delete the row where the age is missing. (~1 line)

q30 =